<form method="post" action="/auth/signin" class="form form-container margin-top-big">
    <h2 class="form-title">Welcome back! <br> <span class="beGreen">signin </span>  and pick up where you left off</h2>
    {{> flashMessage}}

    <label for="email"></label>
    <input class="input" type="email" id="email" name="email" placeholder="email">
    <label for="password"></label>
    <input class="input" type="password" id="password" name="password" placeholder="password"></input>
    <button class="btn-form">Sign in</button>

<p class="form-alt-option">
    Don't have an account yet ?<a href="/auth/signup"> Sign up</a> <br> & enjoy amazing features
</p>

</form>




