<form method="post" action="/signup" class="form">
    {{> flashMessage }}

    <label for="firstName">Firstname</label>
    <input class="input" type="text" id="name" name="firstName" >
    <label for="lastName">Lastname</label>
    <input class="input" type="text" id="lastname" name="lastName">
    <label for="email">Email</label>
    <input class="input" type="email" id="email" name="email" >
    <label for="password">Password</label>
    <input class="input" type="password" id="password" name="password">
    <label for="address">Address</label>
    <input class="input" type="address" id="address" name="address">
    <button class="btn">Sign up</button>
</form>
<p>
    Already an experienced critic of the most raffined French cuisine ? <a href="/signin">Sign in</a>
</p>