<section class="footer-down">
  <footer class="footerContainer">
    <div class="logo">
      <a href="/"> BON APPETIT ! </a>
    </div>
    <nav>
      <a href="#" class="link"><i class="fas fa-user fa-1x"></i>Pinterest</a>
      |
      <a class="link" href="#"><i class="fas fa-user fa-1x"></i>Instagram</a>
      |
      <a class="link" href="#"><i class="fas fa-user fa-1x"></i>Facebook></a>

    </nav>
  </footer>
</section>