<footer class="footerContainer">
    <div class="footer-container">
        <div class="footer-message-container">
        </div>
        <div class="footer-contact-container">
            <form>
                <button>Submit</button>
            </form>
        </div>
        <div class="footer-social-network-container">
            <a href="#">Pinterest</a>
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
        </div>
    </div>
    
</footer>