<section class="footer-down">
  <footer class="footerContainer">
    <div class="logo">
      <a href="/"> BON APPETIT ! </a>
    </div>
    <nav>
      <a href="#" class="link"><i class="fab fa-pinterest"></i> Pinterest</a>
      |
      <a class="link" href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
      |
      <a class="link" href="#"><i class="fab fa-facebook"></i> Facebook</a>

    </nav>
  </footer>
</section>