<header class="navContainer">
  <div class="logo">
    <a href="/"> REST'OÙ </a>
  </div>
  <nav>
    <a href="/" class="link">home</a>
    |
    <!--<a href="/" class="link">Restaurant</a>-->

    {{#unless isLoggedIn}}
      <a class="link" href="/auth/signin"><i class="fas fa-user fa-1x"></i> signin</a>
      <a class="link" href="/auth/signup">signup</a>
    {{/unless}}
    {{#if isLoggedIn}}
      <a class="link" href="/restaurants/new"><i
          class="fas fa-plus"
          aria-hidden="true"
        ></i></a>

      <a class="link" href="/users/wish-list">|
        <i class="fas fa-heart" aria-hidden="true"></i></a>
      {{#each user}}
        <a class="link" href="/user/profil"><i class="fas fa-user fa-1x"></i>
          |
          {{this.firstName}}</a>
      {{/each}}
      <a class="link" href="/auth/signout">signout</a>
    {{/if}}
  </nav>
</header>