<!--send user id and restaurant idwith javascript-->
<form id="review" method="post" action="/reviews/restaurant/{{restaurant._id}}">
    <div class="pinfo mt-3">Give a note to the restaurant <i class="dark-green fa fa-heart"></i></div>
        <div class="form-group">
            <div class="mt-2 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <select class="form-control" id="rate" name="note">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
        </div>
    <div class="pinfo">Share with us your experience !</div>
        <div class="form-group">
            <div class="mt-2 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                    <input class="form-control" name="comment" id="review" rows="3"></input>
                </div>
            </div>
        </div> 
    <div class="w-100 d-flex justify-content-center">
    <button type="submit" class="btn-form">Share</button>
    </div>
</form>