* {
  margin-bottom: 0;
  padding: 0;
  /* font-style: averta, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-family: larsseit, -apple-system, system-ui, BlinkMacSystemFont, SegoeUI,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

/* ________footer_____________ */

.footer-down {
  position:absolute;
  bottom:0;
  width:100%;
}

.footerContainer{
  display: flex;
  justify-content: space-between;
  height: 58px;
  bottom: 0;
  position: fixed;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 13px 10px -4px rgba(255,255,255,0.5);
  }
  
  .footerContainer .footer-social-network-container a{
    padding: 0px 5px;
  }
  
  .footerContainer .footer-social-network-container{
    display: flex;
    justify-content: space-between;
  }

  .footer-social-network-container {
    display: flex;
    flex-direction: row-reverse;
    align-items:flex-end;
    justify-content:flex-end;
  }
  
  .footerContainer .link {
    padding: 18px 26px !important;
    color: #68b0ab;
    font-weight: 600;
  }
  
  .footerContainer .link:hover {
    background-color: #c8d5b9;
    color: #faf3dd;
  }
  
  .link a {
    margin: 0px 5px;
  }
  
  .footerContainer nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .footerContainer footer button {
    cursor: pointer;
    border-radius: 150px;
    padding: 10px 20px;
    border: none;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: #68b0ab;
    color: white;
  }
  
  .footerContainer .logo {
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: #68b0ab;
  }
  
  .logo a {
    color: white;
    text-decoration: none;
  }

  .fa-pinterest .fa-instagram-square .fa-facebook{
    color: #c8d5b9;
    margin-right: 5px;
  }

  .footer nav {
    color: #c8d5b9;
  }


  /* _________________________ */