* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: minmax(280px, auto);
    gap: 20px;
  }
  
  .cards .card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 0.3rem;
    box-shadow: 0.1px 0.8px 3px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(1);
    color: whitesmoke;
    font-size: 2rem;
    font-weight: bolder;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
  }

  .row.artist,
.row.album,
.row.label,
.row.style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.row.artist .infos,
.row.album .infos,
.row.style .infos,
.row.label .infos {
  display: flex;
  align-items: center;
}