
section{
    padding: O 18px;
    width: auto;
}

.home{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    padding: auto 5%;
}

.home>*{
    margin: 0 5px;
}

.home-p, .title{
    padding: 20px 0px;
}

.title-txt {

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: left;
}
/* .bg{
    background-color: #f8fafc;
} */

.home-div img{
    width: 400px;
}

.job-title{
    color: #68B0AB;
    font-weight: bold;
}