.restauPage-container {
    height: 60%;
}

.restauPage-unscrollable, .infos-scrollable {
  width: 100% !important
}

.restauPage-unscrollable {
    position: fixed;
    left: 0;
    top: 3;
    width: 43em;
    bottom: 5;
    margin-bottom: 20px;
    overflow-y: scroll;
}

.infos-scrollable {
    margin-left: 50%;
    overflow: auto;
}