.restauPage-container {
    height: 60%;
}

.restauPage-unscrollable, .infos-scrollable {
  width: 100% !important
}

.restauPage-unscrollable {
    position: fixed;
    left: 0;
    left: 0;
    width: 43em;
    margin: 1em;
    overflow-y: scroll;
}

.infos-scrollable {
    margin-left: 50%;
    overflow: auto;
}

.restauImg-div {
    width: 30%;
}

.img-restaurant {
    width: 100%;

}

.restau-map {
    width: 30%;
}