.restauPage-container {
    height: 60%;
}

.restauPage-unscrollable, .infos-scrollable {
    width: 50%;
}

.restauPage-unscrollable {
    position: fixed;
    left: 0;
    width: 100%;
    margin-left: 2em;
}

.infos-scrollable {
    margin-left: 50%;
    overflow: auto;
}

.restauImg-div {
    width: 100%;

}

.img-restaurant {
    width: 100%;
    margin-bottom: 8px;

}

.restau-map {
    width: 30%;
}