@import "index.home.css";
@import "navBar.css";
/* Importing Google fonts */
@import url("https://fonts.googleapis.com/css?family=Varela+Round");

/* Importing components */
@import url("cards.css");
@import url("search_bar.css");
@import url("restaurant.css");
@import url("footer.css");
@import url("button.css");

* {
  margin: 0px;
  padding : 0px;
  box-sizing: border-box;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  
}

body {
  margin: 0px !important;

  background-color: #FAF3DD !important;

  font-family: larsseit, -apple-system, system-ui, BlinkMacSystemFont, SegoeUI, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

main {
  margin-top: 54px;
}

.cursor-pointer{
  cursor: pointer;
}

#big-map {
  height: 100vh;
  width: 80vw;
  position: sticky !important;
  top: 0;
}

.gm-style-iw-d {
  width: 200px !important
}

.restauImg-div {
  margin-bottom: 2px;
}

.dark-green {
  color: #68B0AB
}

.purple-dark {
  color: #696D7D
}
